@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin,latin-ext)

.page
  background-color: #F9FFE4

#headerwrap
  background-position: no-repeat center top
  background: image-url("ecocar.jpg")
  margin-top: 0px
  padding-top: 50px
  padding-bottom: 50px
  background-attachment: relative
  min-height: 500px
  width: 100%


  background-size: 100%


  background-size: cover

  .headerwrap__main-header
    margin-bottom: 50px
    text-align: center
    margin-top: 10px
    color: #E06500
    font-size: 45px
    font-weight: 900
    letter-spacing: 1px  

.login-box
  background-color: rgba(211, 235, 126, 0.7)
  position: absolute
  right: 40px
  top: 40px
  text-align: left
  padding: 30px
  border-radius: 3px
  margin-bottom: 50px
  width: 350px
  color: #000