.sidebar{
    border-style: solid;
    border-width: 1px;
    background-color: #5cb85c;
    border-radius: 10px;
    word-wrap: break-word;
    width: 100%

}

.sidebar>li{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; 

}